.Header {
    grid-area: h;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
}
.Header img {
    width: 55px;
    border-style: outset ;
    border-color: darkkhaki;
    border-radius: 9px;
}
.loginBlock {
    float: right;
}
.loginBlock a {
    color: darkred;
}