.Header {
    grid-area: h;
    background-color: cornflowerblue;
    border-style: double;
    border-radius: 5px;
    border-color: darkblue;
}
.Header img {
    width: 60px;
    border-color: white;
    border-radius: 5px;
    padding: 4px;
}
.loginBlock {
    float: right;
    position: relative;
}
.loginBlock a {
    color: white;
}