.Navbar {
    grid-area: n;
    background-color: lightblue;
    padding: 20px;
    border-radius: 9px;
}

.item {
    color: mediumblue;
    font-family: "JetBrains Mono";
    font-size: 23px;
}

.active {
    color: crimson;
}

.item a {
    text-decoration: none;
}