.app-wrapper {
    padding-top: 0px;
    margin: 0 auto;
    width: 1100px;
    grid-template-areas:
    'h h'
    'n p';

    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    background-color: white;
}

.app-wrapper-content {
    grid-area: p;
    background-color: white;
    border-style: dashed;
    border-color: red;
    border-radius: 9px;
    text-decoration-color: white;
    /*background-image: url("https://i.pinimg.com/originals/31/d4/41/31d441a7641b66cff28d5ee3925eebb2.jpg");*/
}

.preloader {
    padding: 10px;
    background-color: #ff000051;
}
